<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2021 spring-boot-extension the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~       https://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.livk.mybatisplugins.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="com.livk.mybatisplugins.entity.User">
		<!--@mbg.generated-->
		<!--@Table `user`-->
		<id column="id" property="id"/>
		<result column="username" property="username"/>
		<result column="version" property="version"/>
		<result column="insert_time" property="insertTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>
	<sql id="Base_Column_List">
		<!--@mbg.generated-->
		id, username, version, insert_time, update_time
	</sql>

	<update id="updateById" parameterType="com.livk.mybatisplugins.entity.User">
		UPDATE `user`
		<set>
			<if test="username != null and username != ''">
				`username` = #{username},
			</if>
			<if test="version != null">
				`version` = #{version},
			</if>
			<if test="insertTime != null">
				`insert_time` = #{insertTime},
			</if>
			<if test="updateTime != null">
				`update_time` = #{updateTime}
			</if>
		</set>
		WHERE id = #{id}
	</update>

	<select id="selectById" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List">
		</include>
		FROM `user`
		WHERE id = #{id}
	</select>

	<insert id="insert" parameterType="com.livk.mybatisplugins.entity.User">
		INSERT INTO `user`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			`id`,
			<if test="username != null and username != ''">
				`username`,
			</if>
			<if test="version != null">
				`version`,
			</if>
			<if test="insertTime != null">
				`insert_time`,
			</if>
			<if test="updateTime != null">
				`update_time`
			</if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			#{id},
			<if test="username != null and username != ''">
				#{username},
			</if>
			<if test="version != null">
				#{version},
			</if>
			<if test="insertTime != null">
				#{insertTime},
			</if>
			<if test="updateTime != null">
				#{updateTime}
			</if>
		</trim>
	</insert>

	<delete id="deleteById">
		DELETE
		FROM `user`
		WHERE id = #{id}
	</delete>

	<select id="list" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List">
		</include>
		FROM `user`
	</select>
</mapper>
