name: CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        distribution: [ temurin ]
        java: [ 21 ,23 ]

    name: JDK ${{ matrix.java }}

    steps:
      - uses: actions/checkout@v4.2.2
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4.7.0
        with:
          java-version: ${{ matrix.java }}
          distribution: ${{ matrix.distribution }}
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4.2.2

      - name: Gradle Run Build
        run: ./gradlew build

      - name: Upload coverage reports to Codecov
        if: ${{ matrix.java }} == '21'
        uses: codecov/codecov-action@v5.3.1
        env:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload coverage reports to Codecov
        if: ${{ matrix.java }} == '21'
        uses: codecov/test-results-action@v1.0.2
        env:
          token: ${{ secrets.CODECOV_TOKEN }}
