name: CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        distribution: [ temurin ]
        java: [ 21 ,25 ]

    name: JDK ${{ matrix.java }}

    steps:
      - uses: actions/checkout@v6.0.1
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5.1.0
        with:
          java-version: ${{ matrix.java }}
          distribution: ${{ matrix.distribution }}
          cache: 'gradle'
          cache-dependency-path: |
            ~/*.gradle*
            ~/**/gradle-wrapper.properties
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5.0.0

      - name: Gradle Run Build
        run: ./gradlew build --no-daemon -Dorg.gradle.workers.max=2

      - name: Upload coverage reports to Codecov
        if: ${{ matrix.java == 21 }}
        uses: codecov/codecov-action@v5.5.1
        env:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload coverage reports to Codecov
        if: ${{ matrix.java == 21 }}
        uses: codecov/test-results-action@v1.1.1
        env:
          token: ${{ secrets.CODECOV_TOKEN }}
